<div class="mt-5 flex justify-center gap-4">
  <button 
    class="btn main-outline-btn py-2 px-3"
    (click)="get500Error()"  
  >
    Test 500 Error
  </button>
  <button 
    class="btn main-outline-btn py-2 px-3"
    (click)="get404Error()"  
  >
    Test 404 Error
  </button>
  <button 
    class="btn main-outline-btn py-2 px-3"
    (click)="get400Error()"  
  >
    Test 400 Error
  </button>
  <button 
    class="btn main-outline-btn py-2 px-3"
    (click)="get401Error()"  
  >
    Test 401 Error
  </button>
  <button 
    class="btn main-outline-btn py-2 px-3"
    (click)="get400ValidationError()"  
  >
    Test 400 Validation Error
  </button>
</div>

@if (validationErrors) {
  <div class="mx-auto max-w-lg mt-5 bg-light shadow-md p-5 border border-main-dark rounded">
    <ul class="'space-y-2 p-2">
      @for (error of validationErrors; track $index) {
        <li class="text-dark font-medium text-center">
          {{error}}
        </li>
      }
    </ul>
  </div>
}